@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg:#121315 ;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  background: rgb(var(--bg));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.img-animated{
  animation: rotate 6s 2s linear infinite;
}

@keyframes rotate {
 0%{
    transform: rotate(0deg);
   }
100%{
    transform: rotate(360deg);
   }
}



.mobilenav-container {
  background-color: rgb(28, 28, 28);
  width: 100%;
  position: relative;
}
  #main {
  position: relative;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
  #main ul {
  width: 20%;
  list-style-type: none;
  margin-left: 6rem;
}
  #main ul:hover > li {
  color: rgba(190, 190, 190, 0.5019607843);
}
  #main ul li {
  z-index: 1;
  font-size: 32px;
  padding-bottom: 20px;
  color: #f0f0f0;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
  #main ul li:hover {
  color: #fff;
}
  #main .gradient {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(circle, #000000 10%, transparent 11%);
  background-size: 3em 3em;
  background-color: #3e3e3e;
}
  #main[data-indexes="0"] .gradient {
  background-position: 0% -25%;
  transition: all ease-in-out 0.3s;
}
  #main[data-indexes="1"] .gradient {
  background-position: 0% -50%;
  transition: all ease-in-out 0.3s;
}
  #main[data-indexes="2"] .gradient {
  background-position: 0% -75%;
  transition: all ease-in-out 0.3s;
}
  #main[data-indexes="3"] .gradient {
  background-position: 0% -100%;
  transition: all ease-in-out 0.3s;
}
/* image */
  #main[data-indexes="0"] .background-image {
  width: 110vw;
  height: 110vh;
  transition: all ease-in-out 0.3s;
}
  #main[data-indexes="1"] .background-image {
  width: 120vw;
  height: 120vh;
  transition: all ease-in-out 0.3s;
}
  #main[data-indexes="2"] .background-image {
  width: 130vw;
  height: 130vh;
  transition: all ease-in-out 0.3s;
}
  #main[data-indexes="3"] .background-image {
  width: 140vw;
  height: 140vh;
  transition: all ease-in-out 0.3s;
}
#main .background-image{
  position: absolute;
  top: 0;
  left: 0;
  background: url('https://images.unsplash.com/photo-1507348762124-e7e0afcc0943?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
.openNav {
  bottom: 0;
  z-index: 0;
  transform: translateY(100);
}

/* styles/globals.css */

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee linear infinite;
  white-space: nowrap;
}
